<html lange='ja'>
    
    <head>
        <meta charset="utf-8">
        <link href="main.css" rel="stylesheet">
    </head>
        <body>
       
        <hr>
            
            <div class = "Button">
                <div class = "Button_month">
                   
                </div>
                    <div class = "Left"><</div>
                    <div class = "Right">></div>
            </div>
            <p><iframe src="/InRecipt"></iframe></p>
            
       <hr>
       <%= button_to 'ログアウト' , '/top_logout_path' %>
       </body>
    
    

