<header>ページ名</header>

<body>
    <%= button_to 'ログイン' ,{controller: 'registration', action: 'registration'}, {method: :get} %>>
    <%= button_to '新規登録' ,{controller: 'session', action: 'new'}, {method: :get} %>>
</body>

<hr>
<footer>
    <%= button_to 'ログアウト' , session[:login_uid] = nil %>
</foooter>