A1{
    color:#222222; text-decoration:none;
     grid-row: 1;
    grid-column: 1;
}
iframe{
     width: 400px;
    height: 500px;
    float:right;
}
button{
    width: 100px;
    height: 50px;
}
header_bt{
     float:left;
}
main_day{
    width: 400px;
    height: 500px;
    
}
